* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Temporary Styles  */

  /* body {
    border: 2px solid teal;
  }
  
  div {
    border: 2px solid red;
  } */
  
  /*  Reusable Utility Classes */
  
  .right {text-align: right; }
  .center {text-align: center; }
  .left {text-align: left; }
  
  .tall-50 {min-height: 50vh; }
  .tall-60 {min-height: 60vh; }
  .tall-70 {min-height: 70vh; }
  .tall-80 {min-height: 80vh; }
  .tall-90 {min-height: 90vh; }
  .tall-100 {min-height: 100vh; }
  
  .padded {padding: 5%; }
  .padded-1 {padding: 1rem; }
  .padded-2 {padding: 2rem; }
  
  .padded-t-2 {padding-top: 2rem; }
  .padded-b-2 {padding-bottom: 2rem; }
  
  margin-b-0 {margin-bottom: 0; }
  
  /* General Typography */
  
  body {
    font-family: 'Martel', serif;
    font-weight: 200;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'Didot', Georgia, serif;
  }

  .light-text {color: white;}
  .featured-text {color: #183039;}

  .lg-text {font-size: 4rem;}

  .tight-text { line-height: 0.6;}

  a {
      color: inherit;
      text-decoration: none;
  }
  
  /* Images & Background Images */

  .bg-image {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #183039;
  }

  .bg-glass {background-image: url('/negroni-cocktail-bar/images/negroni-glass-faded.jpg') }
  .bg-window {background-image: url('/negroni-cocktail-bar/images/negroni-2.jpg') }
  .bg-plant {background-image: url('/negroni-cocktail-bar/images/negroni-4.jpg') }
  .bg-water {background-image: url('/negroni-cocktail-bar/images/water-light.jpg') }

  .bg-featured {background-color: #183039;}
  
  /* Header Section */
  
  h1 {
    font-size: 10rem;
    line-height: 0.8;
  }
  
  h1 span {
    font-size: 3.5rem;
    line-height: 0.9;
    display: block;
  }

  /*  Banner Section */

  h2 {
      margin: 0;
  }
  
  h2 span {
      font-size: 2rem;
  }



  /* Menu Section */

  .menu h3 {
      font-size: 2rem;
      margin: 1rem 0;
  }

  .menu p {
      margin-top: 0.5rem;
      font-size: 0.9rem;
  }

  .price {
      text-align: right;
      display: block;
      font-weight: 400;
      margin-top: 0.5rem;
  }

  /* Footer Section */

  footer {
      padding: 5%;
      padding-bottom: 1rem;
  }

  footer a {
      font-size: 1.2rem;
  }

footer h2 {
    margin-bottom: 0.5rem;
}

.sub-footer {
    padding-top: 5%;
}

.sub-footer p {
    font-size: 0.8rem;
    opacity: 0.7;
}

/* Gridlex SM */

@media(max-width: 48rem) {
    .mob-hide {display: none;}
    .mob-padded-t-0 {padding-top: 0;}
    h1 { font-size: 6rem;}
    h1 span {font-size: 2rem;}
    footer a {font-size: 1rem;}
}

/* Custom Media Query XXS */

@media(max-width: 25em) {
    h1 {font-size: 4.5rem;}
    h1 span {font-size: 1.5rem;}
}